@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen:wght@400;700&display=swap');

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* text-align: center; */
  font-family: 'DotGothic16', monospace;
}

.home {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0B17B4;
  color: #FFFFFF;
} 

.home-content {
  flex-grow: 1;
  position: relative; /* allows absolute positioning of children */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.intro-text {
  font-size: 1.5rem;
  z-index: 10;
}

.intro-text h1 {
  font-family: 'Silkscreen', 'DotGothic16', monospace;
}

.folder-icon:hover {
  cursor: pointer;
  opacity: 70%;
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
