@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen:wght@400;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Nova+Square&family=Orbitron:wght@400..900&family=WDXL+Lubrifont+SC&family=Zen+Dots&display=swap');

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* text-align: center; */
  font-family: 'DotGothic16', monospace;
}


.home {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0B17B4;
  color: #FFFFFF;
} 

.home-content {
  flex-grow: 1;
  position: relative; /* allows absolute positioning of children */
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1
}

.intro-text {
  font-size: 1.5rem;
}

.intro-text h1 {
  font-family: 'Silkscreen', 'DotGothic16', monospace;
}

.folder-icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.about-folder {
  position: absolute;
  top: 10%;
  left: 10%;
}

.film-folder {
  position: absolute;
  top: 70%;
  left: 30%;
}

.proj-health-folder {
  position: absolute;
  top: 20%;
  right: 30%;
}

.proj-interior-folder {
  position: absolute;
  top: 60%;
  right: 10%;
}

.window-bar {
  display: flex;
  justify-content: end;
  background-color: #cccccc;  /*011E75*/
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding: 2px;
}

.window-content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.film-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.btn-close:hover {
  opacity: 50%;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 3%;
}

.modal-style {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  /* sizing */
  width: 50%;
  max-height: 70vh;
  overflow-y: auto; /* add scrollbar if content exceeds max-height */
  
  /* appearance */
  color: #000000;
  background-color: var(--mui-palette-background-paper, #ffffff); /* fallback if not using MUI theme */
  border: 2px solid #000000;
  
  padding-bottom: 1rem;
}

/* for smaller screens */
@media (max-width: 800px) {
  .intro-text {
    font-size: 1rem;
  }

  .proj-interior-folder {
    top: 80%;
  }

  .modal-style {
    width: 95%
  }

  .modal-text {
    font-size: 0.8rem !important;
  }

}



/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
